.dataH1{
    color:cadetblue;
    font-size: 20px;
}

.divUsers{
    text-decoration: none;
    color: cadetblue;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    height: max-content;
    width: 400px;
    align-items: center;
    align-self: center;
  }